{% extends "form/templates/layout.html" %}

{% block content %}
    <h1>
        Anticipator
    </h1>
    <h2>Welcome!</h2>
    <p>
        Looking forward to an amazing festival or party? Want to get to know all the
        awesome artists that will be performing? Or just want to get those anticipation
        juices flowing? We've got you covered.
        Just enter the festival/event name and we'll take it from there!
    </p>

    <p>
        Anticipator is a Spotify playlist generator, based on the lineup of the event
        of your choice. We'll add a couple tracks (you get too choose how much!1) from
        each artist that will perform at the event to a playlist. For this we'll need
        (limited!) access to your Spotify account.
    </p>

    <p>
        Unfortunately, at the moment we can only generate Spotify playlists. Vote
        <a href="mailto:info@anticipator.co?Subject=Anticipator%20Music%20service" target="_top">here</a>
        for other music services.
    </p>

{% endblock %}