{% load staticfiles %}

<!DOCTYPE html>
<html lang = 'en'>
<head>
  <meta  charset="UTF-8">
  <title> Anticipator </title>
  <link rel="stylesheet" type="text/css" href="{% static 'form/normalize.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'form/resultstyle.css' %}" />
  <link href='https://fonts.googleapis.com/css?family=Candal' rel='stylesheet' type='text/css'>
</head>

<body>

<div class="background" >
  <div class="title">
    Anticipator victory.html
  </div>

  <div>
    Playlist generated!
  </div>
</br>

  <div>
    Artists:
  </div>

  <div class="one">
    {% for artist in lineup %}
        <li>{{ artist }}</li>
    {% endfor %}
  </div>

  </br>
  </br>
  </br>
  <div>
    PS: Fuck MC's!
  </div>

</div>

</body>
