{% load staticfiles %}

<!DOCTYPE html>
<html lang = 'en'>
<head>
  <meta  charset="UTF-8">
  <title> Anticipator </title>
  <link rel="stylesheet" type="text/css" href="{% static 'form/normalize.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'form/resultstyle.css' %}" />
  <link href='https://fonts.googleapis.com/css?family=Candal' rel='stylesheet' type='text/css'>
</head>

<body>

<div class="background" >
  <div class="title">
    Anticipator Event playlist generator
  </div>

  <div class='paragraph'>
    Welcome! </br>
    </br>
    Looking forward to an amazing festival or party? Want to get to know all the
    awesome artists that will be performing? Or just want to get those anticipation
    juices flowing? We've got you covered! </br>
    </br>
    Just enter the festival/event name and we'll take it from there! </br>
    </br>
  </div>

  <div class = 'form'>
    <form action="/" method="post">
      {% csrf_token %}
        <table>
         {{form.as_table}}
       </table>
       <div id = 'submit'>
        <input type="image" src='../../static/pictures/play.png' value="Submit" class = 'image_submit'/>
      </div>
    </form>
  </div>

</div>
</div>
</body>


<!-- OLD INDEX PAGE -->
<!-- {% load staticfiles %}

<!DOCTYPE html>
<html lang = 'en'>
<head>
		<meta  charset="UTF-8">
		<title> Anticipator </title>
    <link rel="stylesheet" type="text/css" href="{% static 'form/normalize.css' %}" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'form/style.css' %}" />
</head>

<body background ="../../static/pictures/festival2.jpg" >

<div class = 'background'>

<div class="title">
  Anticipator
</div>

<div class = 'form'>
  <form action="/" method="post">
      {% csrf_token %}
      <table>
       {{form.as_table}}
     </table>
     <div id = 'submit'>
      <input type="image" src='../../static/pictures/play.png' value="Submit" class = 'image_submit'/>
    </div>
  </form>
</div>

</div>

</body> -->
